<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogToConsole="false"
      internalLogToConsoleError="false"
      internalLogLevel="Info" internalLogFile="nlog-internal.log">

  <targets>


    <target xsi:type="Database"
            name="database"
            connectionString = "${gdc:item=DbConnectionString};Password=${gdc:item=DbConnectionStringPassword};"
            commandType="StoredProcedure"
            commandText="[dbo].[proc_AddNLog]">
      <parameter name="@machineName" layout="${machinename}" />
      <parameter name="@logged" layout="${longdate:universalTime=true}" />
      <parameter name="@service" layout="${event-properties:item=service}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@method" layout="${event-properties:item=method}" />
      <parameter name="@level" layout="${level:uppercase=true}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@exception" layout="${exception:tostring}" />
      <!--<parameter name="@controller" layout="${aspnet-MVC-Controller}" />-->
      <parameter name="@controller" layout="${event-properties:item=controller}" />
      <!--<parameter name="@action" layout="${aspnet-MVC-Action}" />-->
      <parameter name="@action" layout="${event-properties:item=action}" />
      <parameter name="@ip" layout="${aspnet-Request-IP}" />
      <!--<parameter name="@sessionId" layout="${aspnet-sessionid}" />-->
      <parameter name="@activityId" layout="${activityid}" />
      <!--<parameter name="@scope" layout="${ndlc}" />-->
    </target>
    <target name="smtp"
            xsi:type="Mail"
            smtpServer="MyHomeLocalhost"
            smtpPort="25"
            enableSsl="false"
            from="Sophia@bankvostok.com.ua"
            to="v.dmyterko@bankvostok.com.ua"
            cc="v.dmyterko@bankvostok.com.ua"
            subject="[ExternalAPI][${aspnet-MVC-Controller}][${aspnet-MVC-Action}]"
            body="Sesssion(${aspnet-sessionid}): $layout=${mdc:item=session}${newline}IP: ${aspnet-Request-IP}${newline}Machinename: ${machinename}${newline}${newline}${message}${newline}${exception:tostring}" />

    <target xsi:type="Null" name="blackhole" formatMessage="false"  />
    <target xsi:type="Console" name="Console4GrayLog"
              layout="${ndlc}|${longdate:universalTime=true}|${activityid}|${mdc:item=session}|${logger}|${uppercase:${level}}|${message}|${exception}|${exception:format=@}" />

  </targets>

  <rules>

    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />

    <logger name="*" minlevel="Warn" writeTo="database" />
    <logger name="*" minlevel="Warn" writeTo="Console4GrayLog" />

    <logger name="Sophia.*" minlevel="Info" writeTo="database" />
    <logger name="Sophia.*" minlevel="Info" writeTo="Console4GrayLog" />


    <logger name="*" minlevel="Error" writeTo="smtp" />



  </rules>
</nlog>